
@font-face{font-family:slt;src:url(FONT/thornback-personal.ttf)}

ul, body, menu { padding: 0; margin: 0;}
a { text-decoration: none; color: black}
p { margin: 0; width: auto; height: auto}

body {
    font-family: 'Poppins';
}

ul {
    list-style: square;
}
hr {
    height: 0%;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1050px) {
    .blocExplic {
        flex-wrap: wrap!important;
    }
    .blocExplic div {
        width: 100%!important;
    }
    .blocExplic img {
        display: block;
        margin: 0 auto 20px!important;
    }
    .conf img {
        float: none!important;
    }
    .blocExplic:nth-child(even) {
        flex-direction: row-reverse!important;
    }
    #contenuPerso {
        width: 100%!important;
        font-size: 20px!important;
    }
    .compil {
        width: 100% !important;
    }
}

@media only screen and (max-width: 750px){
    #perso, #heure {
        width: 100%!important;
    }
    #contenu:after {
        background-image: none!important;
    }
    #heure {
        margin-top: 75px;
    }
    #perso img {
        width: 400px!important;
        height:  400px!important;
    }
    #perso h1, #heure h1 {
        font-size: 40px!important;
    }
    footer {
        background-color: #3C3F41;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

body {
    overflow: hidden;
    min-height: 100%;
}

#listeMenu {
    padding: 15px 0;
}
#listeMenu li{
    display: inline-block;
    font-size: 20px;
    padding: 0 3%;
    letter-spacing: 2px;
}
menu {
    text-align: center;
    border-bottom: 3px solid #3C3F41;
    background-image: linear-gradient(to top, #2B2B2B, white);
}
.largeTitre {
    width: 100%;
}
h1 {
    margin: 0;
    letter-spacing: 1.5px;
    color: white;
}
.blocExplic img{
    vertical-align: text-top;
    margin: 0 3% 3% 3%;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #2B2B2B;
}

.blocExplic div {
    width: 70%;
    padding: 20px;
    min-width: 400px;
    word-break: break-word;
    word-wrap: break-spaces;
}
.blocExplic {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    font-size: 18px;
}
.compil {
    width: 70%;
    margin: auto;
    flex-wrap: wrap!important;
}
.compil div {
    width: 100%;
}
.compil * {
    display: block;
    width: 100%;
}
.compil img {
    margin: auto;
}
.blocExplic li p {
    text-indent: 10px;
}


.heure:nth-of-type(even){
    transform: rotate(20deg)!important;
}
.heure {
    text-align: center;
    font-family: slt;
    width: 23%;
    transform: rotate(-20deg);
    color: #BBBBBB;
    font-size: 10vw;
    text-shadow: 10px 10px 10px black;
}

#contenu{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    background-color: #2B2B2B;
    height: calc(100vh - 56px);
}
#contenu section h1 {
    background-image: linear-gradient(to right, #2B2B2B, transparent);
    color: white;
    margin: 10px 0;
    padding-left: 1%;
}
#contenu section{
    width: 70%;
    margin: 2%;
    border-radius: 10px;
}
#contenu section:nth-of-type(even){
    background-color: rgb(70, 70,70);

}
#contenu section:nth-of-type(odd){
    background-color: dimgrey;
}


/* acceuil.html */
#heure {
    width: 50%;
    z-index: 1;
    padding: 3%;
}

#heure table td, th {
    padding: 5px;
}
#heure table {
    text-align: center;
    border-collapse: collapse;
    color: #AAAAAA;
    font-size: 25px;
    margin: 20px auto;
}
#heure table tr {
    border-bottom: 1px solid white;
}
#perso {
    position: relative;
    perspective: 2000px;
    height: 60%;
    color: white;
    width: 29%;
    margin: 0 3%;
    text-align: center;
    background-color: #313335;
    padding: 3%;
    z-index: 1;
}
#perso:before, #perso:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 90%;
    top: 75px;
    left: 0;
    background-color: #313335;
    transform: skewY(15deg);
    z-index: -1;
}
#perso:after {
    transform: skewY(-15deg);
}
#perso h1, #heure h1{
    text-align: center;
    font-size: 3vw;
}

#perso * {
    display: inline-block;
    margin: auto;
}
#perso img {
    border-radius: 250px;
    box-shadow: 5px 10px 5px #2B2B2B;
    margin: 3% auto;
    width: 20vw;
    height:  20vw;
}
#perso a {
    background-color: #2B2B2B;
    width: 45%;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 3%;
    font-size: 12px;
    line-height: 45px;
}
#perso a:hover {
    color: darkgreen;
}

#contenuPerso{
    margin: auto;
    padding: 3%;
    height: 100%;
    font-size: 1.2vw;
    min-font-size: 10px;
    color: #AAAAAA;
    width: 50%;
}
#contenuPerso h1 {
    color: white;
    margin: 2% 0;
}
.blocExplic h1 {
    color: white;
    background-image: none!important;
    background: transparent!important;
}

#contenuPerso img {
    width: 100px;
    height: 100px;
}



footer {
    margin: auto;
    padding-left: 50px;
    text-shadow: 10px 10px 10px black;
    font-size: 30px;
    color: white;
    width: 100%;
    z-index: 1;
}